<header class="header">
  <nav class="nav-bar">
    <a class="navbar-brand" href="/">Resource Wall</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a style="color:azure" class="nav-item nav-link" href="/my_resources">My Resources</a>
        <a style="color:azure" class="nav-item nav-link" href="/add_resources">Update Profile</a>
        <a style="color:azure" class="nav-item nav-link" href="/resources/add">Add Resource</a>
        <a style="color:azure" class="nav-item nav-link" href="/register">Register</a>
        <a style="color:azure" class="nav-item nav-link" href="/api/login">Login</a>
           <form method="POST" action="/logout">
               <button type='submit' class='btn btn-outline-light'>Logout</button></form>
      </div>
    </div>
  </nav>
</header>
