<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>Resource Wall</title>
</head>

<body>
  <%- include('partials/_headers') %>
  <body>
    <%- include('partials/_headers', {activeUser: activeUser
    })%>
    <main class="all-top">
      <h3>Login</h3>
      <form class="form-inline" action="/api/login" method="POST">
        <div class="login-form">
          <label for="email">Enter login email:</label>
          <input class="login-control" type="email" name="email" placeholder="Email">
          <label for="password">Enter password:</label>
          <input class="login-control" type="password" name="password" placeholder="Password">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      </div>
    </main>
</body>

</html>
